<div class="container">
  <h1>DASHBOARD</h1>
  <br>
  <div class="row">
    <div class="col-md-12 pie-charts">
      <div class="col-md-6 text-left left-pie-chart-box">
        <h2 class="pie-chart-header">WEEKLY</h2>
        <%= pie_chart  @user_goals.map{ |goal| [goal.name, goal.weekly_goal_xp] }, library: { chartArea: { width: "80%" } } %>
      </div>
      <div class="col-md-6 text-left right-pie-chart-box">
        <h2 class="pie-chart-header">TOTAL</h2>
        <%= pie_chart  @user_goals.map{ |goal| [goal.name, goal.total_goal_xp] }, library: { chartArea: { width: "80%" } } %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class=" col-md-12">
      <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'goaltable')" id="defaultOpen"><h4>GOALS</h4></button>
        <button class="tablinks" onclick="openTab(event, 'rewardtable')"><h4>REWARDS</h4></button>
      </div>
      
      <div id="goaltable" class="tabcontent">
        <%= render 'goal_table' %>
      </div>
      
      <div id="rewardtable" class="tabcontent">
        <h3>Rewards</h3>
      </div>
    </div>
  </div>
<a class="btn" data-popup-open="popup-1" href="#">Open Popup #1</a>
 
<div class="popup" data-popup="popup-1">
    <div class="popup-inner">
        <%= render 'form' %>
        <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
    </div>
</div>