<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Create Goal</h1>
      <p class="text-center">Don't forget! If it's a task you don't enjoy, reward yourself more points for it.</p>
      </br>
      <div class="well">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>