<div class="container">
  <h1 class="text-center">Rewards</h1>
  <hr>
  </br>
  <%= render 'reward_table' %>
  <%= link_to "Create new reward", new_reward_path, class:"btn btn-primary btn-md" %>
</div>