<div class="jumbotron text-center">
  <%= image_tag "merit-without-background.png", class:"landing-logo" %>
  <h1><fancy>Meritometer</fancy></h1> 
  <br>
  <p>Your <fancy style="font-size: 24px;">ToDo</fancy> list and <fancy style="font-size: 24px;">TaDa</fancy> list. All in one place.</p>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel" data-interval="10000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
      <h4>"Never give up on a dream because of the time it will take to accomplish it.<br>The time will pass anyway."<span style="font-style: normal;"> - Earl Nightingale</span></h4>
      </div>
      <div class="item">
        <h4>"Discipline is the bridge between goals and accomplishment."<br><span style="font-style: normal;"> - Jim Rohn</span></h4>
      </div>
      <div class="item">
        <h4>"The greatest discovery of my generation is that a human being can alter his <br> life by altering his attitudes."<span style="font-style:normal;"> - William James</span></h4>
      </div>
    </div>
  </div>
</div>
<div id="pricing" class="container-fluid">
  <div class="text-center">
    <h2>SIGN UP</h2>
    <h4>Start earning points for your <strong>productivity</strong> and unlocking treats for your <strong>tenacity</strong>.</h4>
    <br>
  </div>
  <div class="row">
    <div class="col-sm-offset-1 col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Basic</h1>
        </div>
        <div class="panel-body">
          <p><strong>3</strong> Tasks</p>
          <p><strong>1</strong> Reward</p>
          <p><strong>Unlimited</strong> Activities</p>
          <p><strong>No</strong> Analytics</p>
          <p><strong>No</strong> Reminders</p>
        </div>
        <div class="panel-footer">
          <h3>FREE</h3>
          <h4>per month</h4>
          <%= link_to "Sign up", new_user_registration_path(plan: @basic_plan.id), class:"btn btn-lg" %>
        </div>
      </div> 
    </div> 
    <div class="col-sm-offset-2 col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Pro</h1>
        </div>
        <div class="panel-body">
          <p><strong>Unlimited</strong> Tasks</p>
          <p><strong>Unlimited</strong> Reward</p>
          <p><strong>Unlimited</strong> Activities</p>
          <p><strong>Analytics</strong></p>
          <p><strong>Reminders</strong></p>
        </div>
        <div class="panel-footer">
          <h3>FREE <small>(limited)</small></h3>
          <h4>per month</h4>
          <%= link_to "Sign up", new_user_registration_path(plan: @basic_plan.id), class:"btn btn-lg" %>
        </div>
      </div> 
    </div> 
  </div>
</div>
<script>
$(window).scroll(function() {
  $(".slideanim").each(function(){
    var pos = $(this).offset().top;

    var winTop = $(window).scrollTop();
    if (pos < winTop + 600) {
      $(this).addClass("slide");
    }
  });
});
</script>

  <!--<div class="home-callout text-center container-fluid">-->
  <!--  <h1>Welcome to RewardMee</h1>-->
  <!--  <h3>Bargain with the future.</h3>-->
  <!--</div>-->
  <!--<div class="container home-signup-links">-->
  <!--  <div class="row">-->
  <!--    <div class="col-md-6">-->
  <!--      <div class="well">-->
  <!--        <h2 class="text-center">Basic Membership</h2>-->
  <!--        <h4>Sign up for free and get basic access to our goal tracker.</h4>-->
  <!--        </br>-->
  <!--        <%#= link_to "Sign up with Basic", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="col-md-6">-->
  <!--      <div class="well">-->
  <!--        <h2 class="text-center">Pro Membership</h2>-->
  <!--        <h4>Sign up for the pro account for £1.99/month and get access to all the features!</h4>-->
  <!--        <%#= link_to "Sign up with Pro", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->