Stripe Integration
* Users should have a stripe customer token in the users table.
* Javascript should prevent Pro form from submitting, when user fills it out,
and should send card info to Stripe. Stripe will return with a card token.
* Javascript should send user fields and card token to our rails app. Rails app
should validate the user fields. Rails app will note whether plan 1 or plan 2.
* Once validated, Rails should send user info (email, plan id) and card token
to Stripe server and Stripe will create a subscription and send back customer
token. Rails should save customer token and user information to our database.

Goal Bonus
* User must select minimum frequency of goal to earn bonus 
  eg. daily, weekly, monthly or one off
* Tracker must track how many occurences of goal there have been.
  When the counter hits 5, user earns double xp value of goal and counter
  returns to 0.
* Goal index should show the current streak for each goal

Rewards
* User must set rewards by including name, xp goal to unlock
* Rewards must have progress bar showing how close the user is to completing
* When creating reward, app must prompt user of average weekly xp based on current goals set.

CARWOW
* Create migration file adding total_reward_xp
* Add to total each time an activity is created with a date after the created_at date of reward
* Change 'select all' option in checklist to include all ids even if goals are created after assignement to reward.

