/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require social-share-button
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";
@import "social-share-button";

// Dark Blue Theme

// Darker: #061439 hover tab
// Dark: #162756 navbar/active tab
// Light: #4F608F 
// Lighter: #7986AC border - navbar/profile links

// Dark Red Theme

// Darker: #4D0016
// Dark: #73132E
// Light: #BF607B
// Lighter: #E699AF

h1, h2, h3, h4, ul, li, p, tr, th, td, small{
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
}

h1, h2, h3, h4, th {
  letter-spacing: 2px;
  small {
    color: white !important;
  }
}

fancy {
  font-family: 'Lobster', cursive;
}

label, placeholder {
    font-family: 'Nunito', sans-serif !important;
    font-weight: 400 !important;
    font-size: 14px !important;
}

strong {
  font-family: 'Nunito', sans-serif !important;
  font-weight: 800 !important;
}

input {
  padding: 6px 6px !important;
}

.crop-text {
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

.max-lines {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  height: 3.6em;
  line-height: 1.8em;
}

.navbar-header{
  padding-top: 15px;
  display: inline;
  small {
    color: white;
    vertical-align: bottom;
    font-style: italic;
    opacity: 0.5;
    font-weight: 400;
  }
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #162756 !important;
  border-color: #337ab7;
  color: white !important;
}

.navbar {
  background: #162756 !important;
  height: 80px;
  font-size: 16px;
  color: white !important;
  border: none;
  z-index: 1000;
  .active {
    color: white;
    opacity: 0.75;
    background: #323232 !important;
  }
  .logo {
    height: 50px;
    width: 80px;
    &:hover {
      transform: scale(1.2, 1.2);
      transition: .5s;
    }
  }
  .dropdown {
    cursor: pointer;
    .open {
      background: #162756 !important;
      color: white !important;
      border-bottom: none !important;
      &:focus {
        background: #162756 !important;
        color: white !important;
        border-bottom: none !important;
      }
    }
  }
  .profile-dropdown {
    .glyphicon-user {
      background: lightsteelblue;
      font-size: 12px;
      padding: 5px 3px 5px 5px;
      border: 1.5px solid #d3d3d3;
      border-radius: 50%;
      margin-top: -3px;
    }
    &:active {
      background: #162756 !important;
      color: white !important;
      border-bottom: none !important;
    }
    &:focus {
      background: #162756 !important;
      color: white !important;
      border-bottom: none !important;
    }
    &:hover {
      background: #162756 !important;
      color: white !important;
      border-bottom: none !important;
    }
  }
  .dropdown-menu {
    min-width: 50px;
    letter-spacing: 0px !important;
  }
  .nav-links li a:hover, .nav-links li.active a {
    background: none !important;
    border-bottom: 1px solid #7986AC;
  }
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle.collapsed:hover {
  background-color: #7986AC;
}

.navbar-default .navbar-toggle.collapsed {
    background-color: #162756;
}

.navbar-collapse.collapse.in {
  border: none;
  margin-top: -18px;
  background: #162756;
  .dropdown-menu {
    background: #7986AC;
  }
  .dropdown-menu li a {
    color: white !important;
  }
}

.navbar-collapse.collapsing {
  border: none;
  margin-top: -18px;
  background: #162756;
}

.navbar-logged {
  border-bottom: 3px solid #7986AC !important;
}

.navbar-right {
  letter-spacing: 2px;
  margin-top: 15px;
  font-weight: 100 !important;
}

.main {
  padding-top: 80px;
  padding-bottom: 40px;
}

.col-sm-3 {
  margin-top: 10px;
}

.dash-rewards {
  background: white !important;
  padding-bottom: 30px;
  border-radius: 10px;
  height: auto;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 20px;
  .col-md-9, .col-xs-9 {
    padding: 0px !important;
  }
  li.list-unstyled {
    margin-top: -30px;
    margin-right: 10px;
  }
}

.dash-three-quarter {
  background: white !important;
  height: 500px;
  margin-bottom: 10px;
  margin-right: -10px;
  margin-left: -15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.ongoing-task-list {
  padding: 0px 15px 20px 15px;
}

.dash-quarter {
  background: white !important;
  margin-right: -15px;
  margin-left: -10px;
  border-radius: 10px;
  height: 500px;
}

.dash-left-half {
  background: white !important;
  height: 500px;
  border-radius: 10px;
  margin-left: -15px;
  margin-right: -10px;
  margin-bottom: 20px;
}

.dash-right-half {
  background: white !important;
  height: 500px;
  border-radius: 10px;
  margin-right: -15px;
  margin-left: -10px;
  margin-bottom: 20px;
}

.row {
  margin: 0px !important; 
  padding: 0px !important;
}

.todo-list {
  padding-left: 15px;
  padding-right: 15px;
}

div.dash-header {
  background: #162756;
  color: white;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 5px solid #ebedf2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

div.dash-header.rewards-header {
  margin-bottom: 0px !important;
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

.jumbotron {
  background: #162756;
  height: 600px;
  color: white;
  margin-bottom: 0px;
  padding: 20px 25px 60px 25px;
  border-bottom: 3px solid #7986AC;
  .landing-logo {
    height: 10%;
    width: auto;
  }
}

.container-fluid {
  padding: 20px 50px;
}

.home-logo {
  color: #e5c100;
  font-size: 200px;
}

.logo-small {
    color: #e5c100;
    font-size: 50px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #e5c100;
}

.carousel-indicators li {
    border-color: #e5c100;
}

.carousel-indicators li.active {
    background-color: #e5c100;
}

.item h4 {
    font-size: 19px;
    font-family: 'Nunito';
    line-height: 1.375em;
    font-weight: 200;
    font-style: italic;
    margin: 70px 0;
}

.item span {
  font-family: 'Nunito';
  font-weight: 400;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover {
    color: white;
    opacity: 0.75;
  }
  &:focus {
    color: white;
    opacity: 0.75;
  }
  .active {
    color: white;
    opacity: 0.75;
    background: #00c6ff !important;
  }
  
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.flash-container {
  margin-top: -10px;
  text-align: center;
  position: fixed;
  left: 35%;
  width: 30%;
}

.alert-notice, .alert-alert {
  display: none;
}

.no-padding {
  padding: 0 !important;
  padding-bottom: 15px !important;
}

.left-padding {
  padding-left: 15px !important;
}

html,body {
   margin:0;
   padding:0;
   height:100%;
   background: #ebedf2;
}

.nav-profile {
  cursor: pointer;
  outline: none;
  
  transition: 0.4s;
}



.well {
  background: white;
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}

.left-how-box {
  padding: 1% 5% 1% 5%;
  .fa {
    color: #e5c100;
  }
}

.right-how-box {
  padding: 1% 5% 1% 5%;
  .fa {
    color: #e5c100;
  }
}

.modal-header {
  padding: 0px !important;
  border-bottom: none !important;
}
.dash-modal-header {
  background: #162756;
  color: white;
  padding-top: 5px !important;
  padding-bottom: 10px !important;
  border-bottom: 5px solid #ebedf2;
  button.close {
    color: white;
    opacity: 1;
    &:hover {
      opacity: 0.5;
    }
  }
}

.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }
 
 $size: 24px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}

.footer-nav {
  margin-bottom: -20px;
  text-align: center !important;
  border-radius: 0px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  /* line 11, /usr/local/rvm/gems/ruby-2.3.0@trackmygoals/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar {
    border-radius: 0px !important; 
  }
}

@media screen and (max-width: 767px) {
    footer div {
        display: inline-block!important;
    }
}

.percentage-change {
  color: gray !important;
  letter-spacing: 0.5px !important;
  font-weight: 200 !important;
}

.avatar-pic {
  border-radius: 50% !important;
  width: 25px;
  height: 25px;
}