/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

h1, h2, h3, h4, ul, li, p, tr, th, td, small{
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
}

h1, h2, h3, h4, th {
  letter-spacing: 2px;
}

fancy {
  font-family: 'Lobster', cursive;
}

label, placeholder {
    font-family: 'Nunito', sans-serif !important;
    font-weight: 400 !important;
}

strong {
  font-family: 'Nunito', sans-serif !important;
  font-weight: 800 !important;
}

.navbar-header{
  display: inline;
  small {
    vertical-align: bottom;
    font-style: italic;
    opacity: 0.5;
    font-weight: 400;
  }
}

.navbar {
  background: #162756;
  height: 80px;
  font-size: 16px;
  color: white !important;
  border: none;
  .active {
    color: white;
    opacity: 0.75;
    background: #323232 !important;
  }
  .logo {
    height: 50px;
    width: 80px;
    &:hover {
      transform: scale(1.2, 1.2);
      transition: .5s;
    }
  }
  .nav-links li a:hover, .nav-links li.active a {
    background: none !important;
    border-bottom: 1px solid #7986AC;
  }
}

.navbar-logged {
  border-bottom: 3px solid transparent !important;
  border-image: linear-gradient(to right, #7986AC , #7986AC)!important;
  border-image-slice: 1 !important;
}

.navbar-right {
  letter-spacing: 2px;
  margin-top: 15px;
  font-weight: 100 !important;
}

.main {
  padding-top: 80px;
  padding-bottom: 40px;
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

.jumbotron {
  background: #162756;
  height: 500px !important;
  color: white;
  padding: 20px 25px 60px 25px;
  border-bottom: 3px solid transparent !important;
  border-image: linear-gradient(to right, #7986AC , #7986AC)!important;
  border-image-slice: 1 !important;
  .landing-logo {
    height:20%;
    width: auto;
  }
}

.container-fluid {
  padding: 20px 50px;
}

.home-logo {
  color: #e5c100;
  font-size: 200px;
}

.logo-small {
    color: #e5c100;
    font-size: 50px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #e5c100;
}

.carousel-indicators li {
    border-color: #e5c100;
}

.carousel-indicators li.active {
    background-color: #e5c100;
}

.item h4 {
    font-size: 19px;
    font-family: 'Nunito';
    line-height: 1.375em;
    font-weight: 200;
    font-style: italic;
    margin: 70px 0;
}

.item span {
  font-family: 'Nunito';
  font-weight: 400;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover {
    color: white;
    opacity: 0.75;
  }
  &:focus {
    color: white;
    opacity: 0.75;
  }
  .active {
    color: white;
    opacity: 0.75;
    background: #00c6ff !important;
  }
  
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.flash-container {
  text-align: center;
  margin-top: -10px;
  position: absolute;
  left: 35%;
  width: 30%;
}

.modal {
  label.error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
  }
}

.alert-notice, .alert-alert {
  display: none;
}

.no-padding {
  padding: 0 !important;
  padding-bottom: 15px !important;
}

.left-padding {
  padding-left: 15px !important;
}

html,body {
   margin:0;
   padding:0;
   height:100%;
   background: #f6f6f6;
}

.nav-profile {
  cursor: pointer;
  outline: none;
  letter-spacing: 0px;
  transition: 0.4s;
}

.profile-dropdown {
  margin-top: 15px !important;
  background-color: white;
  // border: solid #7986AC;
  //border-width: 0px 1px 0px 1px;
}

#profile-links {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  li {
    margin-left: -40px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: solid #7986AC;
    border-width: 0px 1px 1px 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
  }
  li:last-child {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}