.panel {
    // border: 1px solid #e5c100; 
    border-radius:0;
    background: none !important;
    // transition: box-shadow 0.5s;
    a {
        text-decoration: none !important;
    }
}

.panel-default {
    border: none !important;
}

.panel-body {
    background: white;
}

.panel-heading:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #e5c100;
    background-color: #fff !important;
    color: #e5c100;
}

.panel-heading {
    width: 50%;
    padding-left: 50%;
    transition: box-shadow 0.5s;
    color: #fff !important;
    background-color: #e5c100 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #fff !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #e5c100;
    color: #fff;
}

.panel {
  label.error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
  }
}

.panel-group#accordion {
  float: right !important;
  text-align: left !important;
  position: fixed;
  bottom: 0 !important;
  right: 0 !important;
  margin-right: 10px !important;
  z-index: 100;
  min-width: 30% !important;
  width: 30% !important;
  margin-bottom: 0px !important;
}