/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

h1, h2, h3, ul, li, p, tr, th, td {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}

h4 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.navbar, .home-callout {
  background: black;
  .active {
    color: white;
    opacity: 0.75;
    background: #323232 !important;
  }
}

.navbar {
  height: 80px;
  padding-bottom: 80px;
  font-size: 16px;
  color: white !important;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, #108dc7 , #ef8e38);
  border-image-slice: 1;
  .logo {
    height: 50px;
    width: 80px;
  }
  .navbar-log {
    font-size: 16px;
  }
}

.navbar-right {
  margin-top: 15px;
  font-weight: 100 !important;
}

#profile {
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
    .active {
      opacity: 0.5;
    }
  }
  
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover {
    color: white;
    opacity: 0.75;
  }
  &:focus {
    color: white;
    opacity: 0.75;
  }
  .active {
    color: white;
    opacity: 0.75;
    background: #00c6ff !important;
  }
  
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.flash-container {
  text-align: center;
  margin-top: -10px;
  position: absolute;
  left: 35%;
  width: 30%;
}
.alert-notice, .alert-alert {
display: none;
}

.home-callout {
  color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.home-signup-links {
  margin-top: 30px;
}

.no-padding {
  padding: 0 !important;
  padding-bottom: 15px !important;
}

.left-padding {
  padding-left: 15px !important;
}

#main {
  transition: margin-left .5s;
}

body {
  margin-top: 100px !important;
  margin: 0;
  background: #f6f6f6; /* Old browsers */
}

html {
  height: 100%;
  margin: 0;
}

#profile-links {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

