.scoreboard-sidebar {
  margin-top: 30px;
}

.activity-sidebar {
  margin-top: 30px;
}

.progress {
  margin-bottom: 0px !important;
}

.fa-star-o {
  color: #ffd27f;
}

.fa-exclamation {
  color: #ff6666;
}

table{
  width:100%;
  table-layout: fixed;
  margin-bottom: 20px !important;
  tbody > tr:hover {
    opacity: 0.7;
  }
  .left-col {
    padding-left: 5px;
  }
  .right-col {
    padding-right: 5px;
  }
  tbody > tr {
    border-bottom: solid 1px rgba(192,192,192,0.5) !important;
  }
  thead {
    font-size: 20px;
  }
}

th {
  font-weight: 400;
}

.tbl-content{
  margin-top: -20px;
}

td{
  height: 80px;
  vertical-align:middle;
  font-weight: 300;
  font-size: 16px;
}

.pie-chart-header {
}

.pie-charts {
  rect {
    height: 0.1%;
    width: 0.1%;
  }
  svg {
    margin-top: -30px;
    margin-left: 30px;
  }
}

.left-pie-chart-box {
  background: white;
  border: 2px solid #999;
}

.right-pie-chart-box {
  background: white;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
}

.activity-well {
  width: 70%;
  height: 60%;
  margin-left: 10%;
  .activity-actions {
    margin-top: -20px;
    float: right;
  }
}

.bg-white {
  background: white !important;
}

.scoreboard-well {
  margin-right: 20%;
}

.dashboard-tables {
  padding-left: 15px;
  padding-right: 15px;
}
