<nav class="navbar navbar-default navbar-static-bottom navbar-footer footer-nav" role="navigation">
  <div class='container text-center'>
      <ul class="footer-links">
        Share us on: <%= social_share_button_tag %>
      </ul>
  </div>
</nav>